{% extends 'layout.html' %}
{% block title %}{{video.videoTitle}} | MY Player{% endblock %}
{% block css %}
.vid{
    margin-left: 23rem;
    height: 35rem;
    width: 55rem;
    padding:0 !important;
}
{% endblock %}
{% block body %}
<div class="container-fluid bg-light p-3 content">

 <video class="vid" autoplay='' poster="/media/{{video.thumbnail}}"  controls>
  <source src="/media/{{video.videoFile}}" type="video/mp4">
</video> 
<h3 class="my-1 text-center vid">{{video.videoTitle}}</h3>
</div>
{% endblock %}